.fa-cogs:hover {
    cursor: pointer;
}

.icons {
    font-size: 2em;
    display: block;
}

.icons i {
    text-align: center;
}

.color-red {
    color: red;
}

.color-green {
    color: green;
}

.download-badge {
    background-color: green;
}
