body {
    font-size: 14px;
    color: dimgrey;
    background-color: antiquewhite;
    font-family: 'Prompt', sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'Pinyon Script', cursive;
    color: darkblue;
}
h1 {
    font-size: 4em;
}
header {
    text-align: center;
    margin: 20px;
}

.mainRow {
    width: 700px;
    margin: 10px auto;
}

.mainRow .infoChamps {
    font-size: 0.7em;
}

#dropInfo .mainRow {
    margin: 5px auto 2px auto;
}

#dropfile {
    height: 150px;
    margin: 25px auto;
    border-radius: 30px;
    border: 3px dashed dimgrey;
    text-align: center;
    line-height: 125px;
    font-size: 2.4em;
    background-color: #f2f2ff;
    font-family: 'Lobster', cursive;
}

#dropfile.dragover {
    border-color: red;
    color: red;
}

#dropfile.transfering {
    border-color: green;
    color: #fa9625;
}

#dropInfo {
    display: none;
    font-size:0.7em;
}

.progress {
    height: 30px;
    margin: 20px auto;
    border-radius: 5px;
    border: 1px solid dimgrey;
    position: relative;

}
.progress:before {
    content: attr(data-label);
    position: absolute;
    text-align: center;
    top: 5px;
    left: 0;
    right: 0;
    font-size: 1.4em;
}

.progress .value {
    background-color: cornflowerblue;
    display: inline-block;
    height: 100%;
    width: 0;
    font-size:0.7em;
}

#dropfileinfomessage, #dropfileinfosize,
#droptotalinfomessage, #droptotalinfosize{
    display: inline-block;
    margin:0;
    width:50%;
    text-align:center;
}

#history > div,
#galerieInfo > div {
    border-radius: 5px;
    border: 1px solid dimgrey;
    padding: 10px;
}

#history > div {
    height: 160px;
    font-family: 'Share Tech Mono', monospace;
    font-size: 0.8em;
    overflow-y: auto;
}

#history > div > div span {
    float: right;
}

#galerieInfo {
    display: none;
    min-height: 160px;
}

#galerieInfo > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px 0;
}
#galerieInfo > div > div {
    display: flex;
    flex-direction: column;
    width: 155px;
    height: 155px;
    text-align: center;
    border: 1px solid #d2d2d2;
    border-radius: 3px;
    margin-bottom: 10px;
}

#galerieInfo > div > div > div.icon {
    color: cornflowerblue;
    margin: 15px;
}
#galerieInfo > div > div > div.filename {
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.7em;
}
#galerieInfo > div > div > div.filesize {
    font-style: italic;
    font-size: 0.9em;
    margin: 10px;
}


input {
    width: 45%;
    border-radius: 5px ;
    margin: 5px auto;
    padding: 3px 5px;
    font-size: 1.2em;
}

/************** Spinner ***************/
#spinner {
    background: antiquewhite;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align:center;
}

.lds-heart {
    top:40%;
    display: inline-block;
    position: relative;
    width: 128px;
    height: 128px;
    transform: rotate(45deg);
    transform-origin: 64px 64px;
    background: antiquewhite;
}
.lds-heart div {
    top: 46px;
    left: 38px;
    position: absolute;
    width: 52px;
    height: 52px;
    background: #f00;
    animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.lds-heart div:after,
.lds-heart div:before {
    content: " ";
    position: absolute;
    display: block;
    width: 52px;
    height: 52px;
    background: #f00;
}
.lds-heart div:before {
    left: -34px;
    border-radius: 50% 0 0 50%;
}
.lds-heart div:after {
    top: -34px;
    border-radius: 50% 50% 0 0;
}
@keyframes lds-heart {
    0% {
        transform: scale(0.95);
    }
    5% {
        transform: scale(1.1);
    }
    39% {
        transform: scale(0.85);
    }
    45% {
        transform: scale(1);
    }
    60% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(0.9);
    }
}
