
.mainRow.infoChamps {
    font-size: 0.9em;
}

#dropInfo .mainRow {
    margin: 5px auto 2px auto;
}

#dropfile {
    height: 150px;
    margin: 25px auto;
    border-radius: 30px;
    border: 3px dashed dimgrey;
    text-align: center;
    line-height: 125px;
    font-size: 2.4em;
    background-color: #f2f2ff;
    font-family: 'Lobster', cursive;
}

#dropfile.dragover {
    border-color: red;
    color: red;
}

#dropfile.transfering {
    border-color: green;
    color: #fa9625;
}

#dropInfo {
    display: none;
    font-size:0.7em;
}

.progress {
    height: 30px;
    margin: 20px auto;
    border-radius: 5px;
    border: 1px solid dimgrey;
    position: relative;

}
.progress:before {
    content: attr(data-label);
    position: absolute;
    text-align: center;
    top: 5px;
    left: 0;
    right: 0;
    font-size: 1.4em;
}

.progress .value {
    background-color: cornflowerblue;
    display: inline-block;
    height: 100%;
    width: 0;
    font-size:0.7em;
}

#dropfileinfomessage, #dropfileinfosize,
#droptotalinfomessage, #droptotalinfosize{
    display: inline-block;
    margin:0;
    width:50%;
    text-align:center;
}

#history > div {
    height: 160px;
    font-family: 'Share Tech Mono', monospace;
    font-size: 0.8em;
    overflow-y: auto;
}

#history > div > div span {
    float: right;
}

#galerieInfo {
    display: none;
    min-height: 160px;
}

#galerieInfo > div > div > div.icon {
    color: cornflowerblue;
    margin: 15px auto 10px auto;
}

#galerieInfo > div > div > div.image {
    padding-bottom: 5px;
    overflow: hidden;
}
#galerieInfo > div > div > div.image img {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}


#galerieInfo > div > div > div.filename {
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.7em;
}
#galerieInfo > div > div > div.filesize {
    font-style: italic;
    font-size: 0.9em;
    margin: 5px;
}


input {
    width: 45%;
    border-radius: 5px ;
    margin: 5px auto;
    padding: 3px 5px;
    font-size: 1.2em;
}

